[submodule "PaymentService"]
	path = PaymentService
	url = https://github.com/rust42/SAPaymentService.git
[submodule "sa-address-servce-mini-project"]
	path = sa-address-servce-mini-project
	url = https://github.com/devbinod/sa-address-servce-mini-project.git
[submodule "sa-auth-servce-mini-project"]
	path = sa-auth-servce-mini-project
	url = https://github.com/devbinod/sa-auth-servce-mini-project.git
[submodule "sa-transaction-servce-mini-project"]
	path = sa-transaction-servce-mini-project
	url = https://github.com/devbinod/sa-transaction-servce-mini-project.git
[submodule "eStoreOrder"]
	path = eStoreOrder
	url = https://github.com/jenish628/eStoreOrder.git
[submodule "e-store"]
	path = e-store
	url = https://github.com/jenish628/e-store.git
